
global:
  resolve_timeout: 5m

route:
  receiver: 'slack-notifications'
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h

receivers:
  - name: 'slack-notifications'
    slack_configs:
      - api_url: '$(SLACK_WEBHOOK)'
        channel: '#cert-watcher'
        send_resolved: true
