groups:
- name: ssl_cert_alerts
  rules:
  - alert: SSLCertificateExpiringSoon
    expr: ssl_cert_expiry_days < 15 and ssl_cert_expiry_days >= 0
    for: 1h
    labels:
      severity: warning
    annotations:
      summary: "SSL certificate is expiring for the domain {{ $labels.domain }}"
      description: "SSL certificate for domain {{ $labels.domain }} expires in\
        \ 15 days."
  - alert: SSLCertificateExpiredOrInvalid
    expr: ssl_cert_valid == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "SSL certificate is invalid or expired for the domain {{ $labels.domain }}"
      description: "SSL certificate for {{ $labels.domain }} is expired\
        \ or invalid."
