global:
  scrape_interval: 15s
scrape_configs:
- job_name: cert-watcher
  static_configs:
  - targets:
    - cert-watcher:8000
rule_files:
  - "alert_rules.yml"
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 'alertmanager:9093'
