
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    name: prometheus-config
  namespace: default
  annotations:
    prometheus.io/scrape: 'true'
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'cert-watcher'
        static_configs:
          - targets: ['cert-watcher:8000']
